/* Default CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* CSS */
body {
	margin: 0;

	font-display: swap;	
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	font-weight: 400;

}

/* Contaner for header */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.container1 {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background: #00A4E5;
}

/* Header */
.intro {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	background: url(../img/bg/bg.png) center no-repeat;
	background-size: cover;
}

.logo {
	position: absolute;
	margin-top: 10px;
	
	animation: 2s anim-lineUp ease-out 1;
}

/* First information text */
.intro__title {
	margin-top: 5rem;
	margin-left: 2rem;
	letter-spacing: 0.5rem;
	text-align: center;
	font-size: 60px;
	color: #fff;
	
	animation: 3s anim-lineUp ease-out 1;
}

/* Animation for text */
@keyframes anim-lineUp {
	0% {
	  opacity: 0;
	  transform: translateY(20%);
	}
	20% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	  transform: translateY(0%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
  }

.intro__title__after {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	animation: 4s anim-lineUp ease-out 1;
}

.intro__title__end {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: 0.5rem;
	color: #fff;
	font-size: 11px;
	
	transform: translate(0,350px);
	display: flex;
	justify-content: center;	
	
}

/* Navbar container */
.container__nav {
	display: flex;
	justify-content: space-between;

	max-width: 100%;
	width: 1440px;
	height: 65px;
	margin: 0 auto;

	font-family: 'Open Sans', sans-serif;
}

/* Border */
.container__for__border {
	height: 65px;
	border: solid 2px #E6E6E6;
}

/* Navbar */
.header-nav__nav {
	display: flex;
	justify-content: end;
}

.logo2 {
	display: block;
	margin-top: 20px;	
}

.text__dec {
	display: inline-block;
	vertical-align: top;
	font-weight: 600;
	font-size: 13px;
	text-decoration: none;
	color: #48555B;
	margin: 20px;
	transition: .2s linear;
}

.text__dec:hover {
	color: #00A4E5;
}

/* Our story */
.our__story__box {
	margin-top: 58px;
	margin-left: auto;
    margin-right: auto;
	
	width: 1440px;
	height: auto;
	font-family: 'Open Sans', sans-serif;
}


.conteiner__for__decor {
	margin-left: auto;
    margin-right: auto;
	max-width: 100%;
	width: 200px;
	height: 25px;
}

.our__story__inf {
	font-size: 18px;
	letter-spacing: .3rem;
	font-weight: bold;
	color: #48555B;
	display: flex;
	justify-content: center;
}

.span {
	margin: 0 auto;
	right: 915px;
	width: 65px;
	border-bottom: 3px solid #00A4E5;
	padding-bottom: 18px;

}

/* Container for information */
.container__for_info {
	width: 650px;
	height: 200px;
	margin-top: 116px;
}

.prewive__info__ {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .2px;
	font-size: 35px;
	color: #48555B;
	font-weight: 600;
	line-height: 40px;
}

.color__text {
	color: #16ACE8;
}

.next__info__container {
	width: 650px;
	height: auto;
	margin-top: 30px;
}

.next__info {
	line-height: 35px;
	font-size: 22px;
	color: #48555B;
}

/* Containers for img */
.possibilities__container {
	float: right;
	font-family: 'Open Sans', sans-serif;
	margin-top: 160px;
	width: 709px;
	height: 361px;
}

.we__plan {
	margin-right: 20px;
	display: inline-block;
	width: 100%;
	max-width: 220px;
	height: 360px;

	background: url('../img/possibilities-bg/we__plan.png');
	background-repeat: no-repeat;
	transition: all .3s ease;
}

.we__manage {
	margin-right: 20px;
	display: inline-block;
	width: 100%;
	max-width: 220px;
	height: 360px;

	background: url('../img/possibilities-bg/we__manage.png');
	background-repeat: no-repeat;
	transition: all .3s ease;
}

.we__build {
	display: inline-block;
	width: 100%;
	max-width: 220px;
	height: 360px;

	background: url('../img/possibilities-bg/we__build.png');
	background-repeat: no-repeat;
	transition: all .3s ease;
}

/* Gradient animation */
.we__plan:hover{
	box-shadow: #64767e 8px 8px;
	background: linear-gradient(to bottom, transparent, #16ACE8),
		url('../img/possibilities-bg/we__plan.png');

}

.we__manage:hover{
	box-shadow: #64767e 8px 8px;
	background: linear-gradient(to bottom, transparent, #16ACE8),
	url('../img/possibilities-bg/we__manage.png');
}

.we__build:hover{
	box-shadow: #64767e 8px 8px;
	background: linear-gradient(to bottom, transparent, #16ACE8),
	url('../img/possibilities-bg/we__build.png');
}

.possibilities__text {
	width: 144px;
	height: 360px;
	position: absolute;
	color: #fff;
	font-size: 34px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	margin-left: 20px;
	transition: all .3s ease;
}

/* Service */
.service__container {
	position: relative;
	margin-top: 118px;
	margin-left: auto;
    margin-right: auto;
	max-width: 100%;
	width: 1440px;
	height: 570px;
	font-family: 'Open Sans', sans-serif;
}

.services__inf {
	font-size: 18px;
	letter-spacing: .3rem;
	font-weight: bold;
	color: #48555B;
}

.span2 {
	right: 915px;
	width: 58px;
	border-bottom: 3px solid #00A4E5;
	padding-bottom: 15px;
}

.lorem__container {
	position: absolute;
	margin-top: -5px;
	width: 550px;
	height: 40px;
	margin-left: 600px;
	font-size: 16px;
	line-height: 25px;
}

.bttn {
	position: relative;
	float: right;
	background: #00A4E5;
	width: 230px;
	height: 60px;
	transition: all .3s ease;
}

.bttn:hover {
	background: #48555B;
}

.bttn__text {
	margin-top: 20px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 600;

	display: flex;
	justify-content: center;
}

/* Containers services */
.container__for__services {
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	width: 100%;
	max-width: 1440px;
	height: 430px;
}

.services__list1 {
	display: inline-block;
	margin: 0 65px 0 0;
	width: 100%;
	max-width: 430px;
	height: 430px;
	border: 2px solid #E6E6E6;

}

.services__list2 {
	display: inline-block;
	width: 100%;
	max-width: 430px;
	height: 430px;
	border: 2px solid #E6E6E6;
}

.services__list3 {
	float: right;
	margin: 0 auto;
	width: 100%;
	max-width: 430px;
	height: 430px;
	border: 2px solid #E6E6E6;
}

.container__for__svg {
	width: 100%;
	max-width: 80px;
	height:	80px;
	background: url('../img/services/Bitmap.png');
	background-repeat: no-repeat;
	margin-top: 38px;
	margin-left: 25px;
}

.container__for__svg2 {
	width: 100%;
	max-width: 80px;
	height: 80px;
	background: url('../img/services/Bitmap2.png');
	background-repeat: no-repeat;
	margin-top: 38px;
	margin-left: 25px;
}

.container__for__svg3 {
	width: 100%;
	max-width: 120px;
	height: 120px;
	background: url('../img/services/Bitmap3.png');
	background-repeat: no-repeat;
	margin-top: 38px;
	margin-left: 25px;
}

/* Other for text */
.services__container__text {
	position: absolute;
	margin-top: 120px;
	width: 380px;
	height: 80px;
}

.services__text__info {
	font-size: 25px;
	line-height: 30px;
	letter-spacing: .5px;
	color: #48555B;
	font-weight: bold;
	position: absolute;
}

.container__for__text__after {
	display: flex;
	justify-content: center;
	position: absolute;
	margin-top: 220px;
	width: 100%;
	max-width: 380px;
	height: 140px;
}

.services__text__after {
	font-size: 20px;
	line-height: 30px;
	margin-top: 10px;
	color: #48555B;
}

/* For build */
.container__for__build {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	background: url(../img/bg/bg_footer.png) center no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

.container__for__build__text {
	margin: 0 auto;
	margin-top: -330px;
	width: 100%;
	max-width: 600px;
	height: 72px;
}

.build__text__info {
	text-align: center;
	font-size: 60px;
	line-height: 50px;
	color: #48555B;
}

.bttn__for__touch {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background: #00A4E5;
	margin-top: 105px;
	width: 220px;
	height: 60px;
	transition: all .3s ease;
}

.bttn__for__touch:hover {
	background: #48555B;
}

.touch{
	text-decoration: none;
}

.text__in__touch {
	position: relative;
	text-align: center;
	margin-top: 22px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: .5px;
	line-height: 16px;
	color: #fff;
}

/* Newsletter */
.newsletter__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 90px;

	font-family: 'Open Sans', sans-serif;
	background: #171819;
}

.newsletter__container__information {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}

.newsletter__container__text {
	display: table;
	width: 300px;
	height: 40px;
	margin-top: 5px;
}

.newsletter__text {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-weight: 600;
	font-size: 30px;
	line-height: 25px;
	letter-spacing: 1.5px;
}

.signup__container {
	position: absolute;
	top: -.5px;
	right: 0;
	width: 600px;
	height: 50px;

	background: #48555B;
}

.information input {
	width: 400px;
	height: 46px;
	border: 1px solid #979797;
	outline: none
}

input[type="text"]
{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

input::placeholder {
	padding: 15px;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1px;
	color: #48555B;
	font-family: 'Open Sans', sans-serif;
}

.information button {
	float: right;
	width: 194px;
	height: 50px;

	cursor: pointer;
	background: #00A4E5;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: .5px;
	line-height: 16px;
	color: #fff;
	border: none;
	font-family: 'Open Sans', sans-serif;
	transition: all .3s ease;
}

.information button:hover {
	background: #48555B;
}

/* Footer */
.footer {
	display: flex;
	align-items: center;
	width: 100%;
	height: 280px;
	background: #141A20;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

/* Company start */
.company__conteiner {
	margin-left: 310px;
	width: 300px;
	height: 150px;
}

.start {
	font-size: 14px;
	line-height: 13px;
	letter-spacing: .8px;
}

.logo__footer__container {
	margin-top: 19px;
	width: 100px;
	height: 23px;
}

.lorem__footer__container {
	margin-top: 15px;
	width: 290px;
	height: 76px;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: .8px;
}

/* Links middle */
.links__container {
	margin-left: 85px;
	width: 370px;
	height: 150px;
}

.links__footer__container {
	margin-top: 10px;
	width: 100px;
	height: 125px;
}

.links__dec {
	display: inline-block;
	margin-top: 8px;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}

.faq__footer__container {
	float: right;
	width: 220px;
	height: 125px;
}

.links__faq__container {
	margin-top: 8px;
	width: 80px;
	height: 100px;
}

.links__blog__container {
	position: absolute;
	margin-left: 130px;
	margin-top: 8px;
	width: 90px;
	height: 100px;
}

/* Contact */
.contact__container {
	margin-left: 160px;
	width: 200px;
	height: 200px;
}

.contacts__footer__container {
	margin-top: 15px;
	width: 150px;
	height: 160px;
}

.baker {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: .8px;
}

.phone {
	margin-top: 20px;
}

.mail {
	margin-top: 20px;
}

/* Social */
.social__container {
	margin-left: 40px;
	width: 130px;
	height: 20px;
	margin-top: -120px;
	color: #fff;
}

.facebook {
	display: inline-block;
}

.twitter {
	display: inline-block;
	margin: 0 0 0 32px;
}

.google {
	display: inline-block;
	margin: 0 0 0 29px;
}